<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ARTGround</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>code-brew.ArtGround</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1652237828325937</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.706590004877-bagb3rjluqgi59von03vq1g6dk778o2c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>code-brew.ArtGround</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>bf211b13c62457bddb3716272a3422dfde5d1b84</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1652237828325937</string>
	<key>FacebookDisplayName</key>
	<string>ArtGround</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Using it for uploading portraits</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Using it for uploading portraits</string>
	<key>UIAppFonts</key>
	<array>
		<string>MuseoSansCyrl.otf</string>
		<string>Museo_Slab_0.otf</string>
		<string>Museo_Slab_1.otf</string>
		<string>Museo_Slab_2.otf</string>
		<string>Museo_Slab_300italic.otf</string>
		<string>Museo_Slab_500italic.otf</string>
		<string>Museo_Slab.otf</string>
		<string>MuseoSans_0.otf</string>
		<string>MuseoSans_1.otf</string>
		<string>MuseoSans_2.otf</string>
		<string>MuseoSans_500_Italic.otf</string>
		<string>MuseoSans-100.otf</string>
		<string>MuseoSans-100Italic.otf</string>
		<string>MuseoSans-300.otf</string>
		<string>MuseoSans-300Italic.otf</string>
		<string>MuseoSans-700Italic.otf</string>
		<string>MuseoSans-900Italic.otf</string>
		<string>MuseoSansCyrl.otf</string>
		<string>Omnes_GirlScouts-Black.otf</string>
		<string>Omnes_GirlScouts-BlackItalic.otf</string>
		<string>Omnes_GirlScouts-Bold.otf</string>
		<string>Omnes_GirlScouts-BoldItalic.otf</string>
		<string>Omnes_GirlScouts-Hairline.otf</string>
		<string>Omnes_GirlScouts-HairlineItalic.otf</string>
		<string>Omnes_GirlScouts-ExtraLightItalic.otf</string>
		<string>Omnes_GirlScouts-ExtraLight.otf</string>
		<string>Omnes_GirlScouts-Medium.otf</string>
		<string>Omnes_GirlScouts-ThinItalic.otf</string>
		<string>Omnes_GirlScouts-Thin.otf</string>
		<string>Omnes_GirlScouts-SemiboldItalic.otf</string>
		<string>Omnes_GirlScouts-Semibold.otf</string>
		<string>Omnes_GirlScouts-RegularItalic.otf</string>
		<string>Omnes_GirlScouts-Regular.otf</string>
		<string>Omnes_GirlScouts-MediumItalic.otf</string>
		<string>Omnes_GirlScouts-Light.otf</string>
		<string>Omnes_GirlScouts-LightItalic.otf</string>
		<string>Omnes_GirlScouts-Regular.otf</string>
		<string>Gotham Bold.ttf</string>
		<string>Gotham Medium Regular.ttf</string>
		<string>franklin-gothic-medium.ttf</string>
		<string>MyriadPro-Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
